<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blockchain Client</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Blockchain Client</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Wallet Generator
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/make/transaction">Make Transaction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view/transactions">View Transactions</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text">Clique no botão abaixo para realizar as requisições do <b>CONSUMIDOR:</b></p>
                <input type="button" class="btn btn-primary btn-lg" id='gerar_identidade' value="Gerar ID Digital">
                <input type="button" class="btn btn-primary btn-lg" id='importar' value="Importar">
                <input type="button" class="btn btn-primary btn-lg" id='atualizar' value="Atualizar Email">
                <input type="button" class="btn btn-primary btn-lg" id='permissao' value="Add permissão">
                <input type="button" class="btn btn-primary btn-lg" id='obter_token' value="Obter Token">

                <h4 class="card-title"></h4>
                <p class="card-text">Clique no botão abaixo para realizar as requisições do <b>CONSUMIDOR:</b></p>


            </div>
        </div>
    </div>
</div>

<br>

<div class="container">

    <div class="row">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Resultado: </h4>
            <p id="primario" style="white-space: nowrap;">Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0" id="secundario" style="white-space: nowrap;">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
    </div>
    <br>
    <br>

</div>





<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<script>
    var chain = 'http://192.168.1.157:7000';
    var last_prv = '';
    var last_uuid = '';
    var client = 'http://192.168.1.157:6001';
    $(function(){

        $('#gerar_identidade').click(function(){
            var person = prompt("Insira o CPF da pessoa a ser cadastrada, para gerar sua identidade digital:", "");
            $.ajax({
                url: chain+'/new/'+person,
                type: 'GET',
                success: function(response){
                    document.getElementById("primario").innerHTML = "Chave privada:"+response['prv'];
                    last_prv = response['prv'];
                    document.getElementById("secundario").innerHTML = "Chave pública:"+response['pub'];
                    last_uuid = response['uid'];
                },
                error: function(error){
                    console.log(error);
                }
            });
        });
    });


    $(function(){

        $('#importar').click(function(){
            var person = prompt("Insira o CPF da pessoa a ser importada:", "");
            $.ajax({
                url: chain+'/migrate/'+person,
                type: 'GET',
                success: function(response){
                    document.getElementById("primario").innerHTML = "Chave privada:"+response['prv'];
                    document.getElementById("secundario").innerHTML = "Chave pública:"+response['pub'];
                    last_uuid = response['uid'];
                    last_prv = response['prv']
                },
                error: function(error){
                    document.getElementById("primario").innerHTML= error;
                }
            });
        });
    });

    $(function(){

        $('#atualizar').click(function(){
            var person = prompt("Insira seu novo email:", "");
            $.ajax({
                url: client+'/email/'+person+'/'+last_uuid+'/'+last_prv,
                type: 'GET',
                success: function(response){
                    document.getElementById("primario").innerHTML= response['message'];
                },
                error: function(error){
                     document.getElementById("primario").innerHTML= error;
                }
            });
        });
    });

    $(function(){

        $('#permissao').click(function(){
            var person = prompt("Dominio para dar permissão aos seus dados:", "");
            $.ajax({
                url: client+'/perm/1/'+person+'/'+last_uuid+'/'+last_prv,
                type: 'GET',
                success: function(response){
                   document.getElementById("primario").innerHTML= response['message'];
                   document.getElementById("primario").innerHTML= response['message'];
                },
                error: function(error){
                    console.log(error);
                }
            });
        });
    });

     $(function(){

        $('#secret').click(function(){
            var person = prompt("Dominio para dar permissão aos seus dados:", "");
            $.ajax({
                url: client+'/secret/'+person+'/'+last_uuid+'/'+last_prv,
                type: 'GET',
                success: function(response){
                   document.getElementById("primario").innerHTML= response['message'];
                },
                error: function(error){
                    console.log(error);
                }
            });
        });
    });

</script>



</body>

</html>
